<div id="contenedor">
    <div id="central">
        <div id="login">
            <div class="titulo">
                <img src="https://media-exp1.licdn.com/dms/image/C560BAQFZAIiG9allNg/company-logo_200_200/0/1621630170795?e=2147483647&v=beta&t=ZfXxdPM0ABCweo3uNpeCa1wFqM9DmUnLOBYm-dUd89k" class="logostc" width="70" height="70" alt="" srcset="">
                STC Login 
            </div>
            <form id="loginform">
                <input type="text" name="usuario" placeholder="Usuario" required="">
                
                <input type="password" placeholder="Contraseña" name="password" required="">
                
                <button type="submit" title="Ingresar" name="Ingresar">Login</button>
            </form>
            <div class="pie-form">
                <a href="#">¿Perdiste tu contraseña?</a>
                <a href="#">¿No tienes Cuenta? Registrate</a>
            </div>
        </div>
        <div class="inferior">
            <a href="#">Volver</a>
        </div>
    </div>
</div>